html {
  --tmdbDarkBlue: 18, 65, 104;
}
.main-banner {
  background-image: linear-gradient(
      to right,
      rgba(var(--tmdbDarkBlue), 0.8) 0%,
      rgba(var(--tmdbDarkBlue), 0) 100%
    ),
    url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/mn9k8zapebAbCqsiKf24juhXjjx.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  color: #fff;
  display: flex;
  align-items: center;
}
.popular-movie {
  width: 150px;
  border-radius: 16px;
  overflow: hidden;
  display: block;
}

.movie-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-backdrop {
  border-bottom: 1px solid rgba(16.47%, 29.41%, 15.29%, 1);
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-backdrop {
  min-height: 570px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to right,
    rgba(16.47%, 16.08%, 13.33%, 1) 150px,
    rgba(21.96%, 21.96%, 21.96%, 0.84) 100%
  );
}

.result-wrapper {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
