@import '~bootstrap/scss/bootstrap.scss';

a {
  color: inherit;

  &:hover {
    color: #000;
    text-decoration: none;;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.brand-name {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;

  &:hover {
    color: transparent;
  }
}

.bg-blue {
  background-color: #032541 ;
}

.main-nav {
  background-color: #032541 ;
  color: white;
}

.hover-image {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    lefT: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    transition: background .2s;
  }

  &:hover {
    &:before {
      background: transparent;
    }
  }
}

.loading-icon {
  position: relative;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.switch-wrapper {
  position: relative;
  border: 1px solid blue;
  border-radius: 12px;
  display: inline-block;
}

.switch-btn {
  display: inline-block;
  padding: 5px 20px;
  background: transparent;
}

.switch {
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 12px;
  z-index: -1;
  transition: all .3s;
}